" Personal information
let g:full_name = "insert you name here"

" default settings
let g:use_ack = 1                                   " Use ack instead of grep
let g:use_expandtab = 1                             " Use space instead of tab

let leader_key = ","

" variável necessária para busca no Apidock e jQuery API
let g:browser = 'firefox -new-tab '
" No OSX - let g:browser = 'open -a /Applications/Firefox.app'

let g:clip_command = "xclip -selection clipboard"   " Linux

" Vim style settings
set gfn=DejaVu\ Sans\ Mono\ for\ Powerline\ 10

" Dark Solarized theme
" set background=dark
" colorscheme solarized
" let g:airline_theme='zenburn'

" Light Solarized theme
" set background=light
" colorscheme solarized
" let g:airline_theme='solarized'
" let g:airline_solarized_bg='light'

" Dark gruvbox theme
set background=dark
set termguicolors
colorscheme gruvbox
let g:airline_theme='gruvbox'

" Light gruvbox theme
" set background=light
" set termguicolors
" colorscheme gruvbox
" let g:airline_theme='gruvbox'

" Github integration
let g:github_user = "insert here you github user name"
let g:github_token = ""

" Syntatic Settings
" Abrir automaticamente a lista de erros e fechá-la quando o erro for corrigido
let g:syntastic_auto_loc_list = 1

set t_BE=
